@using EntityLayer.Concrete
@model List<Comment>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@*<td><a href="#"><i class="fa fa-check text-navy"></i></a></td>*@
@{int i = 0;}
<!DOCTYPE html>
<html>
<body>
   
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">                 
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="ibox-title">
                                <h5>Yorumlar Tablosu </h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="fa fa-wrench"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-user">
                                        <li>
                                            <a href="#" class="dropdown-item">Config option 1</a>
                                        </li>
                                        <li>
                                            <a href="#" class="dropdown-item">Config option 2</a>
                                        </li>
                                    </ul>
                                    <a class="close-link">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">

                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Kullanıcı</th>
                                            <th>Başlık</th>
                                            <th>Blog</th>
                                            <th>Tarih</th>
                                            <th>Bloğa Verilen Puan</th>
                                            <th>Sil</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.CommentId</td>

                                                <td>@item.CommentUserName</td>
                                                <td>@item.CommentTitle</td>
                                                <td>@item.Blogs.BlogTitle</td>
                                                <td>@(((DateTime)item.CommentDate).ToString("dd-MMMM-yyyy"))</td>
                                                @if (item.BlogScore >= 5)
                                                {
                                                    <td bgcolor="" class="text-navy"> <font color="green"><i class="fa fa-thumbs-up">&nbsp;@item.BlogScore</i> </font> </td>
                                                }                                              
                                                else if(item.BlogScore<5)
                                                {
                                            <td bgcolor="" class="text-navy"> <font color="red"> <i class="fa fa-thumbs-down">&nbsp;@item.BlogScore</i></font> </td>
                                                }
                                                <td><a href="/Admin/AdminComment/CommentDelete/" class="btn btn-danger">Sil</a></td>
                                            </tr>
                                        }

                                        </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
    @section scripts{ }
</body>
</html>
