@model EntityLayer.Concrete.Category
@{
    ViewData["Title"] = "CategoryUpdate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("CategoryUpdate", "Category", FormMethod.Post))
{
    <h1>EditBlog</h1>
    @Html.Label("Kategori Adı")
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryName)
    <br />
    @Html.Label("Kategori Açıklaması")
    @Html.TextBoxFor(x => x.CategoryDescription, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryDescription)
    <br />
    @Html.HiddenFor(x => x.CategoryId)
    @Html.HiddenFor(x => x.CategoryStatus)

    <button class="btn btn-primary">Kategoriyi Güncelle</button>
}

@section scripts{

}