@model EntityLayer.Concrete.Category
@{
    ViewData["Title"] = "CategoryAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Kategori Ekle</h1>
@using (Html.BeginForm("CategoryAdd", "Category", FormMethod.Post))
{
    @Html.Label("Kategori Adı")
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryName)
    <br />
    @Html.Label("Kategori Açıklaması")
    @Html.TextBoxFor(x => x.CategoryDescription, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryDescription)
    <br />

    <button class="btn btn-primary">Kategoriyi Ekle</button>
}

@section scripts{

}