@model List<RoleAssignViewModel>
@{
    ViewData["Title"] = "AssignRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/CoreBlogTema/web/css/AssignRole.css" rel="stylesheet" />
<h3>Mevcut Roller</h3>
<form method="post">
    <div class="form-control col-lg-12">
        @for (int i = 0; i < Model.Count; i++)
        {
            <p>
                &emsp; <input type="hidden" asp-for="@Model[i].RoleID" />
                <input type="hidden" asp-for="@Model[i].Name" />
                <input type="checkbox" asp-for="@Model[i].Exists" class="form-check-input" />
                <label class="form-check-label" for="@Model[i].Exists">@Model[i].Name</label>
                <br />
            </p>
        }
    </div>
    <br />
    <br />
    <button class="btn btn-danger">Değişiklikleri Kaydet</button> <a href="/Admin/AdminRole/UserRoleList" class="btn btn-outline-warning">Kullanıcı Listesine Dön</a>

    @section scripts{ }
</form>

 


